{% extends 'base.twig'%}
{% block body %}

    <div class="container">
        <form action="#" method="get">
            <label for="item" class="item">Добавление товара в интернет-магазин</label><br>
            <input type="text" name="item" placeholder="название товара" id="item"> <br>
            <div class="p-1">
                <button type="submit" name="send">Добавить</button>
            </div>
        </form>
    </div>

{% endblock %}